<mat-toolbar color="accent" class="navbar">
  <mat-icon>newspaper</mat-icon>&nbsp;&nbsp;&nbsp;
  <a class="logo" routerLink="">NewsHub</a>
  <span class="example-spacer"></span>
  <a mat-flat-button color="accent" routerLink="">Home</a>
  <a mat-flat-button color="accent" routerLink="technews">Tech News</a>
  <a mat-flat-button color="accent" routerLink="business">Business</a>
  <a mat-flat-button color="accent" routerLink="entertainment">Entertainment</a>
  <a mat-flat-button color="accent" routerLink="health">Health</a>
  <a mat-flat-button color="accent" routerLink="science">Science</a>
  <a mat-flat-button color="accent" routerLink="sports">Sports</a>
</mat-toolbar>